body {
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  background: linear-gradient(180deg,#E6516B, #DAA1A4);
}
/* offcanvas-header */
.offcanvas-header {
  position: relative;
}
.offcanvas-btn-lo {
  position: absolute;
  left: 180px;
}
.offcanvas-btn {
  position: absolute;
  left: 250px;
}
/* search */
.search input {
  border-radius: 20px;
  width: 700px;
}

span {
  font-size: 30px;
  margin-left: 100px;
  text-decoration: none;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  margin-top: 100px;
}
.gallery-item {
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}
.gallery-item-1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
}
.gallery-item-2,
.gallery-item-4 {
  height: 250px;
  opacity: 0.8;
  width: 388px;
  z-index: 1;
}
.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}
.gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgb(0, 0, 0, 0.35);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  z-index: 2;
}
.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}
.gallery-item-5 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}
.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  margin-top: 20px;
  height: 100px;
}
.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}
.gallery-controls-button:focus {
  outline: none;
}
.gallery-controls-previous {
  position: relative;
}
.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 25%;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}
.gallery-controls-previous:hover::before {
  left: -40px;
}
.gallery-controls-next {
  position: relative;
}
.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 45;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}
.gallery-controls-next:hover:before {
  right: -40px;
}
.gallery-header {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}
.gallery-header li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-header li.gallery-item-selcted {
  background: #555;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
}
.left {
  width: 50%;
  height: 100%;
}
.right {
  width: 50%;
  height: 100%;
  position: relative;
}

.right h2 {
  margin-left: 300px;
  margin-top: 70px;
  font-size: 30px;
  font-weight: 800;
}
/* 신곡 캐러셀 */
/* reset */
li {
  list-style: none;
}
button {
  border: none;
}
div,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

#sliderWrap {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-left: 300px;
  margin-top: 60px;
}

/* slide item */
#sliderWrap .slider {
  position: absolute;

  height: 100%;
  justify-content: center;
  align-items: center;
}
#sliderWrap .slider li {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
#sliderWrap .slider li .itemWrap {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* item background color */
#sliderWrap .slider li:nth-child(1) .itemWrap {
  background-color: #ff8181;
}
#sliderWrap .slider li:nth-child(2) .itemWrap {
  background-color: #fff281;
}
#sliderWrap .slider li:nth-child(3) .itemWrap {
  background-color: #81d1ff;
}
#sliderWrap .slider li:nth-child(4) .itemWrap {
  background-color: lightgreen;
}
#sliderWrap .slider li:nth-child(5) .itemWrap {
  background-color: lightsalmon;
}

/* button */
#sliderWrap .directionNav {
  position: relative;
  width: 100%;
  height: 100%;
}
#sliderWrap .directionNav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  font-size: 0;
  background: none;
  cursor: pointer;
}
#sliderWrap .directionNav button::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  transform: rotate(45deg);
  opacity: 0.6;
}
#sliderWrap .directionNav button#prev {
  left: 20px;
}
#sliderWrap .directionNav button#prev::after {
  transform: rotate(-135deg);
}
#sliderWrap .directionNav button#next {
  right: 20px;
}

/* pagination */
.dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.dot li {
  float: left;
  width: 20px;
  height: 5px;
  margin: 0 4px;
  border-radius: 50px;
  background: #000;
  opacity: 0.3;
  text-indent: -9999px;
  cursor: pointer;
}
.dot li.on {
  opacity: 1;
}

/* 느낌별 스테이션 */
.section-title {
  font-weight: 700;
  font-size: 32px;
  margin: 40px 0;
  margin-left: 80PX;
}

.stations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 1fr 1fr 1fr */
  justify-content: center;
  gap: 30px;
  margin-left: 80PX;
}
section {
  max-width: 1120px;
  width: 100%;
  margin: 80px auto;
  padding: 0 36px;
}
section img {
  border-radius: 50%;
}

/* 음악재생 */
.music {
  position: absolute;
  margin-left: 300px;
  margin-top: 20px;
 
}
.music img {
  border-radius: 20px;
}
.music-PLAY {
  position: absolute;
  opacity: 0.5;
  right: 2px;
  bottom: 10PX;
}
